
<p>santhosh works!</p>
<p id="para1">Hello World!</p>
<p class="center">This paragraph will be red and center-aligned.</p> 
<p class="center large">This paragraph will be red, center-aligned, and in a large font-size.</p>
<h1>sowjifdssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</h1>
<h2>NANNA</h2>
<h3>AMMA</h3>
<h4>santhosh</h4>
<ul class="a">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Coca Cola</li>
  </ul>
  
  <ul class="b">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Coca Cola</li>
  </ul>
  
  <p>Example of ordered lists:</p>
  <ol class="c">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Coca Cola</li>
  </ol>
  
  <ol class="d">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Coca Cola</li>
  </ol>

  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    <tr>
      <td>Peter</td>
      <td>Griffin</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
    </tr>
  </table>
  <h5>brother,yryytryrtyry</h5>
  <div>santhu</div>

  <ul>
      <li>home</li>
      <li>sdfhdf</li>
      <li>gssd</li>
      <li>gvsdhsvd</li>
  </ul>